/* sub1.css */ 
.sub_content, .wc, .gp, .cc, .merch, .sub-6 { margin: 120px auto; width: 100%; padding: 0; } 
.title_li img { margin-bottom: 1.6rem; } 
.img-box { } 

.f1_box { height: max-content; color: #fbf3ee; border: none; } 
.f1 { height: 100%; background-size: 100% auto; background-image: url(./img/sub1/01_f1_bg2.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; } 
.f2f3 { height: 100%; } 
.f2 { padding: 55px 0 0 0; height: auto; background-size: 100% auto; background-image: url(./img/sub1/01_f2_bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; 
    &:hover { flex-grow: 1; background: linear-gradient(90deg, #0090D0, #005AB2); } 
 } 
.f3 { padding: 10px 0 0 0; height: auto; background-size: 100% auto; background-image: url(./img/sub1/01_f3_bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; 
  &:hover { flex-grow: 1; background: #D10D00;} }
.f2 p, .f3 p { } 
.f1 p { padding: 2rem; } 
.f1 p:first-child { padding-bottom: 50px; font-family: Formula1 Display-Wide; font-size: 2rem; } 
.f1 p::nth-child(3), .f1 p::nth-child(4) { font-size: 20px; } 
.fit {  font-family: 'Formula1 Display-Bold'; font-style: italic; font-size: 7VW; color: #fbf3ee52; mix-blend-mode: hard-light; width: 100%; } 
.mini_d { mix-blend-mode: darken; } 
.order-btn { border-radius: 50px; background-color: #1e1e1e; } 
.merch-txt p:nth-child(1), .merch-txt p:nth-child(2) {font-size: 2rem;}
.merch-txt p:nth-child(3) {font-size: 15px; margin: 1rem 0;}

@media (max-width: 992px) {
    .wc, .gp, .cc, .merch, .sub-6 { margin: 4rem 0; width: 100%; padding: 0; } 
    .tnt_yellow {font-size: 1.5rem !important; }
    .f2, .f3 { padding: 50px 0 50px 0; } 
    .fit { font-size: 15vw; } 
    .sub_content {margin: 15px 0;}
    .title_li img { margin-bottom: 0.5rem; height: 1.3rem; } 
    .merch_num { width: 20%; }
 }